@model Estudiante

<h2>Editar Estudiante</h2>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />

    <table class="table table-bordered table-striped">
        <tr>
            <th>Nombre</th>
            <td><input asp-for="Nombre" class="form-control" /></td>
        </tr>
        <tr>
            <th>Programa</th>
            <td><input asp-for="Programa" class="form-control" /></td>
        </tr>
        <tr>
            <td colspan="2" class="text-end">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="/Estudiantes" class="btn btn-secondary">Cancelar</a>
            </td>
        </tr>
    </table>
</form>
