@model proyecto_c_.Models.Matricula

<h2>Nueva Matrícula</h2>

<form asp-action="Crear" method="post">
    <table class="table table-bordered">
        <tr>
            <th>Estudiante</th>
            <td>
                <input asp-for="IdEstudiante" class="form-control" />
            </td>
        </tr>
        <tr>
            <th>Programa</th>
            <td>
                <input asp-for="IdPrograma" class="form-control" />
            </td>
        </tr>
        <tr>
            <th>Valor</th>
            <td>
                <input asp-for="Valor" class="form-control" />
            </td>
        </tr>
        <tr>
            <th>Periodo</th>
            <td>
                <input asp-for="Periodo" class="form-control" />
            </td>
        </tr>
        <tr>
            <th>Fecha Matrícula</th>
            <td>
                <input asp-for="FechaMatricula" type="date" class="form-control" />
            </td>
        </tr>
    </table>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="/Matriculas" class="btn btn-secondary">Cancelar</a>
</form>
